@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,100, 200,300,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body{
    font-family: 'Playfair Display', serif;
}

main{
    background-color: rgb(58, 58, 139);
}
    
.header{  
    background-color: rgb(9, 9, 61);
}

.titulo{
    color:rgb(245, 236, 189);
}

.targetas{      
    width: 400px;
    margin: 20px;
    background-color: rgb(151, 203, 248);
} 
.btn-primary {
    color: #fff;
    background-color: #00b11d;
    border-color: #00ce2d;
    border-radius: 5px;
    &:hover{
        background-color: #01971a;
        border-color: #00b828;
    }
  }
.btn-secondary {
    color: #fff;
    background-color: #af0600;
    border-color: #ee0000;
    border-radius: 5px;
    &:hover{
        background-color: #910500;
        border-color: #c20000;  
    }
 }
/* preguntar */
.footer{
    background-color: rgb(9, 9, 61);
    color:#e4e3df;
}

.imagenmainvideojuegos{
    background-image: url(../asset/img/Videojuegos/videojuegos.jpeg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenmainseries{
    background-image: url(../asset/img/Series/Series.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenmainpeliculas{
    background-image: url(../asset/img/pelis/peliculas\ varias.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgmainform{
    background-image: url(../asset/img/Unete/bosque.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion{
background-color: rgb(85, 101, 240);
}
.fa-whatsapp, .fa-instagram, .fa-discord{
    font-size: 5rem;
}
.fa-whatsapp{
    color: rgb(28, 247, 64);
}
.fa-instagram{
    color: rgb(240, 16, 202);
}
.fa-discord{
    color: rgb(137, 24, 243);
}
@media (max-width: 400px) {
    .fa-whatsapp, .fa-instagram, .fa-discord{
        font-size: 3rem;
    }
}