@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,100, 200,300,400;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
body{
    font-family: 'Playfair Display', serif;
}

main{
    background-color: rgb(58, 58, 139);
}
    
.header{  
    background-color: rgb(9, 9, 61);
}

.titulo{
    color:rgb(245, 236, 189);
}

.targetas{      
    width: 400px;
    margin: 20px;
    background-color: rgb(151, 203, 248);
} 
/* preguntar */
.footer{
    background-color: rgb(9, 9, 61);
    color:#e4e3df;
}

.imagenmainvideojuegos{
    background-image: url();
    
    
    height: 60vh;

    background-size: cover;
    background-position: center;
    display: flex;
}
.imagenmainseries{
    background-image: url(../asset/img/Series/Series.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenmainpeliculas{
    background-image: url(../asset/img/pelis/peliculas\ varias.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgmainform{
    background-image: url(../asset/img/Unete/bosque.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubicacion{
background-color: rgb(85, 101, 240);
}
.fa-whatsapp{
    font-size: 5rem;
    color: rgb(28, 247, 64);
}
.fa-instagram{
    font-size: 5rem;
    color: rgb(240, 16, 202);

}
.fa-discord{
    font-size: 5rem;
    color: rgb(137, 24, 243);
}