.imagenmainseries{
    @extend .imagenmainpeliculas;
    background-image: url(../asset/img/Series/series\ varias.webp);

    @media (max-width: 650px ){
        background-image: url(../asset/img/Series/serie.webp);
    }
}

.titulo{
    color:$fuente-titulos;
}