.imagenmainpeliculas{
    background-image: url(../asset/img/pelis/peliculas\ varias.jpg);
    text-align: center;
    
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    color:$fuente-titulos;
}

.targetas{      
    width: 400px;
    margin: 20px;
    background-color:map-get($fondos , targetas );
} 