$fondos : (
    head : rgb(41, 41, 248),
    targetas : rgb(151, 203, 248),
    targetashover : rgb(50, 139, 218),
    footer : rgb(35, 35, 247),
    ubicacion : rgb(85, 101, 240),
);

// iconos
$icono-whatsapp: rgb(28, 247, 64);
$icono-instagram: rgb(240, 16, 202);
$icono-discord: rgb(137, 24, 243);
$icono-whatsapp-hover: rgb(19, 199, 49);
$icono-instagram-hover: rgb(184, 12, 155);
$icono-discord-hover: rgb(103, 19, 182);

// fuentes
$font-family: 'Playfair Display', serif;
$fuente-titulos:rgb(255, 229, 101);
$fuente-footer:#e4e3df;
$amarillo: #ebff34;
$blanco: #fff;
$blanco-alternativo: #b8b8b8;
$fuente-parrafos:  #dfdfdf;
$negro: #2f3030;